*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.sty
*.backup
*.Rhistory
*~
*_dont_track/
.Rproj.user
*#
pp_dev.Rproj
.RData
*.o
*.so
wiki
dontgit
Testing_functions.R
check_runtime_dup.R
informelles_testen/
PP.Rproj
*.dll
*.html
*.pdf
buttons.txt
newPfit
*.png
*.csv
ideas
