useDynLib(PP)

importFrom(Rcpp, evalCpp)

export(PPall)
export(PP_gpcm)
export(PP_4pl)
export(findmodel)
export(JKpp)

S3method(print, ppeo)
S3method(summary, ppeo)
S3method(JKpp, fourpl)
S3method(JKpp, gpcm)
S3method(JKpp, gpcm4pl)
